<nav class="navbar nav-light bg-primary">
  <div class="container-fluid">
    <%= link_to 'TestGuru', root_path, class: 'navbar-brand text-white' %>

    <span class="navbar-text text-white">
      Welcome, <b class="nav-admin user-email"><%= current_user.email %></b> Guru |
      <%= link_to t('admin_panel'), admin_tests_path, class: 'text-decoration-none text-white me-1 ms-1' %> |
      <%= link_to "Gists", admin_gists_path, class: 'text-decoration-none text-white me-1 ms-1'%> |
      <%= link_to t('logout'), destroy_user_session_path, method: :delete, class: 'text-decoration-none text-white ms-1' %>
    </span>
  </div>
</nav>
