<div id="result-test">
  <h1><%= t('.header', title: @test_passage.test.title) %></h1>

  <% if @test_passage.successful_passage? %>
    <p>
      <%= t('test_passages.result.percentage') %> <strong style="color:#0ED002" ><%= @test_passage.percentage_completion %> %</strong><br>
      <strong style="color:#0ED002"><%= t('test_passages.result.success') %></strong>
    </p>
  <% else %>
    <p>
      <%= t('test_passages.result.percentage') %> <strong style="color:#FC0221"><%= @test_passage.percentage_completion %> %</strong><br>
      <strong style="color:#FC0221" ><%= t('test_passages.result.fail') %></strong>
    </p>
  <% end %>

  <%= link_to t('all_tests'), tests_path, class: "text-decoration-none" %>
</div>
