 <h1><%= link_to 'TestGuru', root_path %></h1>

 <%= flash_message(:p , :notice, 'flash notice') %>

 <% if logged_in? %>
   <p class="nav user">Welcome, <b><%= current_user.name %></b> Guru
     <%= link_to 'Logout', logout_path, method: :delete, data: { confirm: 'Are you sure?' } %>
   </p>
 <% else %>
   <p class="nav user">
     <%= link_to 'Log in', login_path %> |
     <%= link_to 'Sign up', signup_path %>
   </p>
 <% end %>