<div class="row justify-content-center">
  <div class="col col-md-10">
    <h1><%= t('.header') %></h1>

    <p>
      <%= link_to t('new_test'), new_admin_test_path %>
    </p>

    <table class="table">
      <tr>
        <th class="sort-by-title pointer">
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-primary hide' %>
          <%= octicon 'arrow-down', class: 'text-primary hide' %>
        </th>
        <th><%= t('.level') %></th>
        <th><%= t('.count') %></th>
        <th colspan="4"><%= t('.actions') %></th>
      </tr>

      <%= render @tests %>
    </table>
  </div>
</div>
