<h3><%= t('.header') %>: </h3>

<p>
  <strong><%= t('.title') %>: </strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %>: </strong>
  <%= @test.level %>
</p>

<% if @test.timer.present? %>
  <p>
    <strong><%= t('.timer') %>: </strong>
    <%= @test.timer %>
  </p>
<% end %>

<p>
  <strong><%= t('.category_id') %>: </strong>
  <%= @test.category_id %>
</p>

<p>
  <strong><%= t('.creator_id') %>: </strong>
  <%= @test.creator_id %>
</p>

<h3><%= t('.questions') %>: </h3>

<p>
  <%= link_to t('new_question'), new_admin_test_question_path(@test) %>
</p>

<ol>
  <%= render @test.questions %>
</ol>

<p>
<%= link_to t('edit'), edit_admin_test_path(@test) %> |
<%= link_to t('back'), admin_tests_path %>
</p>
